<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header-style">
        <div class="top-header">

            <div class="contenedor-logo">
                <img class="logo-main" src="/images/logo-mercado-liebre.svg" alt="Logo ML">
            </div>

            <form action="../../form-result.php" method="post" target="_blank">
                <p>
                    <input type="search" name="Buscar productos" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </p>
            </form>

            <div class="comprar-cuota">
                <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito! </p>
            </div>

        </div>


        <nav class="navbar">

            <div class="navul">
                <ul class="navul" type="none">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="navul" type="none">

                    <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i></li>
                    <li><a href="">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>

                </ul>
            </div>

        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
        <img class="banner-main" src="/images/img-home-banner.jpg" alt="Banner">

    </header>
    <main class="formulario">
        <h1 class="main_title">Creá tu usuario</h1>
        <form action="/crearUsuario" method="POST" class="form">
            <div class="form-field">
                <label for="Nombre">Nombre y apellido</label>
                <input type="text" name="usuario" id="nombre" placeholder="Ingrese su nombre y apellido">
            </div>
            <div class="form-field">
                <label for="Usuario">Nombre de usuari@</label>
                <input type="usuario" name="usuario" id="usuario" placeholder="Ingrese su nombre de usuario">
            </div>
            <div class="form-field">
                <label for="">Fecha de nacimiento</label>
                <input type="date" name="fecha">
            </div>
            <div class="form-field">
                <label for="Domicilio">Domicilio</label>
                <input type="domicilio" name="domicilio" id="domicilio" placeholder="Ingrese su domicilio">
            </div>
            <div class="form-field">
                <input type="radio" name="TipoDeUsuario">
                <label for="Comprador">Comprador</label>
                <input type="radio" name="TipoDeUsuario">
                <label for="Vendedor">Vendedor</label>
            </div>
            <div class="form-field">
                <label for="pfp">Foto de usuario</label>
                <input type="file" name="avatar" id="pfp" accept=".jpg" multiple>
            </div>
            <div class="form-field">
                <label for="Password">Contraseña</label>
                <input type="password" id="password" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-field">
                <label for="Passwordconf">Confirmar contraseña</label>
                <input type="passconf" id="passconf" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-field">
                <label for="">Categorias de interés</label>
                <br>
                <input type="checkbox" name="intereses">
                <label for="">Electro</label>
                <br>
                <input type="checkbox" name="intereses">
                <label for="">Moda</label>
                <br>
                <input type="checkbox" name="intereses">
                <label for="">Hogar</label>
                <br>
                <input type="checkbox" name="intereses">
                <label for="">Juguetería</label>
                <br>
                <input type="checkbox" name="intereses">
                <label for="">Vida Sana</label>
                <br>
            </div>

            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>

        </form>
    </main>
    <footer class="footer">
        <section class="pago-tarjeta">
            <i class="fas fa-credit-card"></i>
            <p class="pago-title">Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>

        <section class="envio-gratis">
            <i class="fas fa-gift"></i>
            <p class="envio-title">Envío gratis desde $ 2.500</p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>

        <section class="seguridad-footer">
            <i class="fas fa-user-shield"></i>
            <p class="seguridad-title">Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>

        <section class="copyright-footer">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>

    </footer>
</body>

</html>