@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--------------body----------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color:#ebebeb;
    margin: auto;
}

.logo-main{
    width:250px;
}

.header-style{
    background-color: #EAC926;
    margin: auto;
    box-sizing: border-box;
}

header div.contenedor-logo
header .form
header .comprar-cuota{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-between;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header .form .input{
    background-color: white;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

.search-bar {
    position: relative;
    display: flex;
    min-width: 100px;
    padding: 10px;
}

.search-icon {
    position: absolute;
    top: 6px;
    left: 250px;
    width: 14px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}
.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.comprar-cuota{
    font-size: 16px;
}

.navbar{
    
    display: none;
}

.navul{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    box-sizing: border-box;
    
}

.navul li a{
    color: #000;
    text-decoration: none;
    font-size: 16px;

}



header .comprar-cuota{
    width: 100%;
}

.burger-menu{
    width: 35px;
    height: 35px;
    background-color: #1259c3;
    font-size: 25px;
    color: white;
    margin: auto;
    text-align: center;
    height: auto;
    border-radius: 5px;
    padding: 3px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.burger-menu:hover .navegacion{
    display: block;
}

.banner-main{
    width: 100%;
    display: block;
    margin: auto;
}



/*-------------main------------------*/
.title-section{
    font-size: 24px;
    padding: 10px;
}

.last-visit{
    display: flex;
    flex-wrap: wrap; 
}

main{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

/*----truck-----*/


.main-article .fas:hover{
    transform: rotate(-90deg);
}
.main-article .fas{
    display: block;
    color: #39b54a;
    padding: 9px;
    border: solid 1px #39b54a;
    border-radius: 50%;
    margin: 0px;
    width: 37px;
    text-align: inherit;
    position: relative;
    bottom: 65px;
    left: 80%;
    transition: all 500ms;
    box-sizing: border-box;

}

.full-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.price{
    font-size: 18px;
    margin: 0;
    padding-right: 10px;
}

.discount{
    font-size: 18px;
    color: #39b54a;
}

.description {
    font-size: 16px;
    display: none;
    display: flex;
    flex-wrap: wrap;
}

.h4{
    font-weight: bold;

}

.main-section{
    width: 90%;
    margin: auto;
}

.item-list li{
    flex-direction: row;
}

.products{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    flex-wrap: wrap;
    margin-top: 15px;
}

.photo-product{
    width: 80%;
    margin: 10%;
    box-sizing: border-box;
    border-bottom: solid 1px #ebebeb;
}

.product{
    border-top: solid 1px #ebebeb;
    background-color: white;
    font-size: 16px;
    width: 100%;
    transition: all 350ms;
    box-sizing: border-box;
}

.main-article{
    padding: 15px;
    background-color: white;
}


/*------------------footer---------------------*/
footer{
    text-align: center;
    padding: 0;
}

footer.section{
    margin: auto;
}

.pago-title{
    font-weight: bold;
    font-size: 15px;
} 

.pago-tarjeta i{
    color: #1259c3;
    font-size: 20px;
    margin-bottom: 10px;
    font-size: 2em
}

.envio-title{
    font-weight: bold;
    font-size: 15px;
}

.envio-gratis i{
    color: #1259c3;
    font-size: 20px;
    margin-bottom: 10px;
    font-size: 2em
}

.seguridad-title{
    font-weight: bold;
    font-size: 15px;
}

.seguridad-footer i{
    color: #1259c3;
    font-size: 20px;
    margin-bottom: 10px;
    font-size: 2em
}

/*------------------media---------------------*/

@media (min-width:361px){

    
    header div.contenedor-logo
    header .form ,
    header .comprar-cuota{
        width: 30%;
    }

    .product{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        margin: 5px;
        margin-top: 10px;
        width: 100%;
    }
    

    .main-article{
        padding: 5px;
    }
    
    .description {
        display: block;
        font-size: 10px;

    }
    .discount{
        font-size: 10px;
        margin: 0;
    }
    .price{
        font-size: 10px;
        margin: 0;
    }

    .navbar{
        display: block;
    }

    .burger-menu {
        display: none;
    }

}

@media (min-width:769px) {
    
    .burger-menu {
        color: olive;
        width: 60px;
        margin: auto;
    }
    
    .product{
        width: 20%;
        margin-right: 10px;
    }


    .products{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .full-desc{
        background-color: #fff;
        padding: 15px;
        position: relative;
    }
    

    .description {
        display: flex;
        font-size: 18px;

    }
    .discount{
        display: flex;
        font-size: 16px;
        margin: 0;
    }
    .price{
        display: flex;
        font-size: 16px;
        margin: 0;
    }

    .main-article .fas{
        left: 80%;
        bottom: 55px;
    }
}

/* register */
.form{
    text-align: center;
    font-size: 16px;
}

.form-field{
    padding: 15px;
}